@include btn-more;
.full_name {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #8a3976;
    a {
        color: #8a3976;
        text-decoration: none;
    }
    @include drop_down;
}
.description {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #8a3976;
    p {
        strong {
            font-weight: 400;
        }
        span {
            font-size: 10px;
        }
    }
}
.stack {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #8a3976;
    .title {
        font-family: "Calibri";
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #ffffff;
        margin: 8px 0;
    }
    .current__stack {
        display: flex;
        gap: 4px;
        font-family: "Calibri";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #8a3976;
        margin-bottom: 6px;
        li {
            flex-grow: 1;
            text-align: center;
        }
    }

    @include drop_down;
    .drop_down {
        .bottom {
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                li {
                    flex-grow: 1;
                }
            }
        }
    }
}
.abuot_me {
    font-family: "Calibri";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #8a3976;
    h5 {
        margin-bottom: 6px;
    }
    p {
        line-height: 14px;

        font-family: "Calibri";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #8a3976;
    }
    img {
        margin: 0 14px 5px 5px;
    }
    &::before {
        content: '<div  class="about_me">';
        display: block;
        font-family: "Calibri";
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.2);
        margin-bottom: 9px;
    }
    &::after {
        content: "</div>";
        display: block;
        text-align: end;
        font-family: "Calibri";
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.2);
        margin-top: 9px;
    }
    p {
        & > img {
            float: right;
            border-radius: 50%;
            width: 90px;
            height: 90px;
        }
    }
}
.languages {
    margin-top: 6px;
    font-family: "Calibri";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #8a3976;
}
.experience {
    h5 {
        font-family: "Calibri";
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #ffffff;
        margin: 6px 0;
    }
    ul {
        li {
            &:not(:first-child) {
                padding: 10px 0 0 0;
            }
            &:not(:last-child) {
                padding: 0 0 10px 0;
                border-bottom: 1px solid #8a39765f;
            }

            h6 {
                font-family: "Calibri";
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;

                color: #8a3976;
            }
            small {
                font-family: "Calibri";
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 10px;
                opacity: 0.6;
                color: #8a3976;
            }
        }
    }
}
